#Cuerpo {
    background: #240533;
    width: 100%;
}
#Header1 {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-bottom: 2px solid #FFF;
    display: flexbox; /* Utilizar flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Separar las divisiones a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px 20px; /* Añadir espacio interno al encabezado*/
    
}
#Div1 {
    display: flex; /* Utilizar flexbox para alinear elementos horizontalmente */
    align-items: center;
}
#Div2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#ImgHome {
    width: 138px;
    height: 111px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
    background-image: url('./tinified/HomeSmartCP.png');
}
#SignButton {
    width: 147.79px;
    height: 56px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    backdrop-filter: blur(2px);
    list-style: none;
    background-color: transparent;
    text-align: center;
    color: white; /* Texto blanco */
    text-decoration: none; /* Eliminar subrayado del enlace */
    outline: none; /* Eliminar el contorno al hacer clic en el botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 2px; /* Esquinas redondeadas */
    padding: 10px;
}
#DataArea {
    width: 100%;
    height: 669px;
    flex-shrink: 0;
    border: 1px solid #000;
    background-image: url('./tinified/HomeWeb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#Lado1, #Lado2 {
    text-align: center;
    padding: 60px;
}
#Lado2 {
    text-align: center;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contenedor-rectangular {
    width: 571px;
    height: 242px;
    flex-shrink: 0;
    opacity: 0.5;
    background: #F4DCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Lado2 h4, #Lado2 h5 {
    margin: 0; /* Elimina el margen predeterminado de los encabezados */
}
#Smrt {
    width: 600px;
    height: 100px;
    flex-shrink: 0;
    background-image: url('./tinified/SmartCPLogo.png');
    backdrop-filter: blur(2px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
}

#Data0 {
    color: #FFF;
    font-family: Jomhuria;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 7.5px;
    text-shadow: 2px 2px #240533, -2px -2px #240533, 2px -2px #240533, -2px 2px #240533; /* Sombra de texto */
    margin: 0;
}
#Data1 {
    color: #FFF;
    font-family: Jomhuria;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 11.5px;
    text-shadow: 2px 2px #240533, -2px -2px #240533, 2px -2px #240533, -2px 2px #240533; /* Sombra de texto */
    margin: 0;
}
#Data2 {
    color: #FF993A;
    text-align: center;
    font-family: Jomhuria;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 62.5% */
    letter-spacing: 12.8px;
    margin: 0;
    text-shadow: 2px 2px #621A84, -2px -2px #621A84, 2px -2px #621A84, -2px 2px #621A84; /* Sombra de texto */
}
#Data3 {
    color: #FFF;
    font-family: Jomhuria;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 5px;
    text-shadow: 2px 2px #621A84, -2px -2px #621A84, 2px -2px #621A84, -2px 2px #621A84; /* Sombra de texto */
}
#Titulo2 {
    background-image: url('./tinified/Descrip.png');
    width: 591px;
    height: 116px;
    flex-shrink: 0;
    float: right;
    padding: 35px;
    background-position: center;
    background-repeat: no-repeat;
}
#Estrofa {
    width: 60%;
    padding: 25px;
    color: #FFF;
    font-family: Jomhuria;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 9.6px;
    text-align: justify;
    float: right;
    text-shadow: 2px 2px #621A84, -2px -2px #621A84, 2px -2px #621A84, -2px 2px #621A84; /* Sombra de texto */
    margin: 0;
}



