---
import LayoutUser from "../layouts/LayoutUser.astro";
import CardaReserve from "../components/cardreserve.astro";
import { getIsActive, setIsActive } from "../utils/state"

if(Astro.cookies.get('id_user')?.value === undefined){
  return Astro.redirect('/login')
}

const toogleActive = () =>{
    const isActive = getIsActive();
    setIsActive(!isActive);
}
---

<LayoutUser>
    <div class="fixed bottom-4 right-4 rounded-full flex py gap-3">
        <button type="button" class="bg-rose-600 rounded-2xl text-8xl font-extrabold text-white px-10 pb-3"  onclick=toogleActive()> <span>-</span></button>
        <div class="bg-orange-400 rounded-2xl text-8xl font-extrabold text-white px-6" >+</div>
    </div>
    <div class="flex flex-col items-center gap-10">
        <h1
          class="bg-sky-400 text-black font-extrabold rounded-full p-3 text-6xl px-10"
        >
          Gestion de reservas
        </h1>
        <div class="flex items-start flex-col">
            <h3 class="text-white text-5xl font-bold ">Reservas Activas:</h3>
        </div>
        <div class="flex flex-wrap justify-center gap-6 m-5">
            <CardaReserve isActive={getIsActive()}/>
        </div>
    </div>
</LayoutUser>
