---
import Layout from "../layouts/Layout.astro";
import { getSquares } from "../services/SquareService";

if(Astro.cookies.get('id_user')?.value !== undefined){
  return Astro.redirect('/home')
}

const squares = await getSquares()
---

<Layout>
  <section
    class="body-home flex flex-col items-center justify-around py-20 lg:flex-row"
  >
    <div class="mb-16 flex flex-col items-center">
      <img src="/Images/logoname.png" alt="" class="w-96 h-auto" />
      <h2 class="sq_cout_tx text-5xl text-center mt-4 lg:mt-0">
        Cicloparqueaderos
        <br />
         Inteligentes
      </h2>
    </div>
    <div
      class="sq_cout bg-violet-300 bg-opacity-50 p-11 rounded mb-16 lg:ml-16"
    >
      <h2 class="text-7xl">{squares.length}</h2>
      <h3 class="sq_cout_tx text-5xl mt-4">Plazas disponibles</h3>
    </div>
  </section>

  <section class="flex flex-col p-14 lg:flex-row-reverse">
    <a href="" class="text-center lg:text-right">
      <h1 class="sq_cout_tx flex items-center text-4xl">
        ¿Qué es <img class="w-60" src="/Images/logoname.png" alt="" />?
      </h1>
    </a>
  </section>
</Layout>

<style>
  .body-home {
    background-image: url("/Images/scp.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .sq_cout {
    color: #ff993a;
    text-align: center;
    font-family: Jomhuria;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 12.8px;
    text-shadow:
      2px 2px #240533,
      -2px -2px #240533,
      2px -2px #240533,
      -2px 2px #240533;
  }
  .sq_cout_tx {
    color: #fff;
    font-family: Jomhuria;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow:
      2px 2px #240533,
      -2px -2px #240533,
      2px -2px #240533,
      -2px 2px #240533;
  }
</style>
