---
import Layout from "../layouts/Layout.astro";
import { createUser } from "../services/UserService";
import type { User } from "../types/UserTypes";

type FormErrors = {
  email: string;
  password: string;
  confpass: string;
  name: string;
  lastname: string;
  typedoc: string;
  numdoc: string;
  age: string;
  phone: string
};

const errors: FormErrors = {
  email: "",
  password: "",
  confpass: "",
  name: "",
  lastname: "",
  typedoc: "",
  numdoc: "",
  age: "",
  phone: ""
};

const validateField = (
  value: any,
  fieldName: keyof FormErrors,
  errorMessage: string
) => {
  if (typeof value !== "string" || value.trim() === "") {
    errors[fieldName] = errorMessage;
  } else {
    errors[fieldName] = "";
  }
};

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    const password = data.get("password");
    const confpassword = data.get("confpassword");
    const name = data.get("name");
    const lastname = data.get("lastname");
    const tipo = data.get("tipo");
    const numdoc = data.get("numdoc");
    const age = data.get("age");
    const phone = data.get("phone")

    validateField(email, "email", "Email is not valid.");
    validateField(name, "name", "Debes ingresar tu nombre");
    validateField(lastname, "lastname", "Debes ingresar tu apellido");
    validateField(tipo, "typedoc", "Debes seleccionar tu tipo de documento");
    validateField(numdoc, "numdoc", "Debes ingresar el numero de documento");
    validateField(age, "age", "Debes ingresar tu fecha de nacimiento");
    validateField(
      password,
      "password",
      "Password must be at least 6 characters."
    );
    validateField(
      confpassword,
      "confpass",
      "Las contrase침as deben ser iguales"
    );

    if(password !== confpassword){
      errors.confpass += "Las contrase침as deben ser iguales"
    } else {
      errors.confpass += ""
    }
    let hasErrors = Object.values(errors).some((msg) => {
      return msg;
    });
    const user: User = {
      email: email ? email?.toString() : "",
      password: password ? password?.toString() : "",
      name: name ? name?.toString() : "",
      lastname: lastname ? lastname?.toString() : "",
      type: tipo ? tipo?.toString() : "",
      doc: numdoc ? numdoc?.toString() : "",
      age: new Date(age?.toString() ?? ''),
      phone:  phone ? phone?.toString() : "",
    };
    if (hasErrors) {
      hasErrors = false;
      return hasErrors
    } else{
      Astro.redirect('/login')
      await createUser(user);
    }
    
  } catch (error: any) {
    console.log("游 ~ file: signup.astro:93 ~ error:", error)
    return error
  }
}
---

<Layout>
  <div class="flex justify-center items-center">
    <section class="max-w-sm w-full">
      <form
        method="POST"
        class="w-max shadow-md px-8 pt-6 pb-8 mb-4 border-white rounded-3xl border-4"
        style="background-color: rgb(144, 79, 174);"
      >
        <h1
          class="text-4xl mb-3 text-center font-bold shado"
          style="color: #ff993a"
        >
          Crea tu Cuenta
        </h1>

        <div class="mb-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div>
              <label for="name" class="block text-white text-sm font-bold mb-2"
                >Nombre</label
              >
              <input
                type="text"
                name="name"
                id="name"
                required
                class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
                placeholder="Nombre"
              />
              {errors.name ? <p class="text-red-500 text-sm">{ errors.name }</p> : <></> }
            </div>
            <div>
              <label
                for="lastname"
                class="block text-white text-sm font-bold mb-2">Apellido</label
              >
              <input
                type="text"
                name="lastname"
                id="lastname"
                required
                class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
                placeholder="Apellido"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div>
              <label for="tipo" class="block text-white text-sm font-bold mb-2"
                >Tipo de documento</label
              >
              <select
                name="tipo"
                id="tipo"
                required
                class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
              >
                <option value="0">Tipo de documento</option>
                <option value="CC">Cedula de Ciudadania</option>
                <option value="CE">Cedula de Extranjeria</option>
                <option value="P">Pasaporte</option>
                <option value="TI">Tarjeta de Identidad</option>
              </select>
            </div>
            <div>
              <label
                for="numdoc"
                class="block text-white text-sm font-bold mb-2 whitespace-nowrap"
                >Numero de documento</label
              >
              <input
                type="text"
                name="numdoc"
                id="numdoc"
                required
                class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
                placeholder="Numero de documento"
              />
            </div>
          </div>
          <div class="mb-6">
            <label for="age" class="block text-white text-sm font-bold mb-2"
              >Fecha de nacimiento</label
            >
            <input
              type="date"
              name="age"
              id="age"
              required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
              placeholder="Edad"
            />
          </div>
          <label class="block text-white text-sm font-bold mb-2" for="email"
            >Email</label
          >
          <input
            type="email"
            name="email"
            required
            class="shadow appearance-none mb-6 border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
            id="email"
            placeholder="Email"
          />
          <label class="block text-white text-sm font-bold mb-2" for="phone"
            >Celular</label
          >
          <input
            type="tel"
            name="phone"
            required
            class="shadow appearance-none mb-6 border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.phone ? 'border-red-500' : '' }}"
            id="phone"
            placeholder="Celular"
          />
          <!-- Mostrar errores de email si es necesario -->

          <div class="mb-6">
            <label
              class="block text-white text-sm font-bold mb-2"
              for="password">Contrase침a</label
            >
            <input
              type="password"
              name="password"
              required
              minlength="6"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
              id="password"
              placeholder="Contrase침a"
            />
            <!-- Mostrar errores de contrase침a si es necesario -->
          </div>
          <div class="mb-6">
            <label
              class="block text-white text-sm font-bold mb-2"
              for="confpassword">Confirma Contrase침a</label
            >
            <input
              type="password"
              name="confpassword"
              required
              minlength="6"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-violet-600 border-slate-50 p-2 hover:border-violet-300 leading-tight focus:outline-none focus:shadow-outline {{ errors.email ? 'border-red-500' : '' }}"
              id="confpassword"
              placeholder="Confirma contase침a"
            />
            <!-- Mostrar errores de contrase침a si es necesario -->
          </div>
        </div>

        <div class="flex flex-col space-y-3">
          <button
            class="hover:bg-emerald-800 bg-emerald-600 text-slate-50 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
            >Crear cuenta</button
          >
          <a
            class="hover:text-emerald-800 cursor-pointer text-white pt-3"
            href="/login">쯏a tienes una cuenta?</a
          >
        </div>
      </form>
    </section>
  </div>
</Layout>

<style>
  body {
    background-image: url("/Images/bgc.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
